.states
.web
*.db
assets/external/
__pycache__/
*.py[cod]
.states/*
.venv/*
.venv
.vscode
.web/*
.env
.vscode/*
alembic
alembic.ini
CLAUDE.md
alembic.ini
alembic.ini
alembic/script.py.mako
alembic/versions/68915b50577d_.py
